@use "../util" as u;

// Hero section styles
.hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include u.breakpoint-up(large) {
    flex-direction: row;
  }

  &__side {
    display: flex;
    flex-direction: column;
    flex: 0.65;
    gap: 1rem;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;

    @include u.breakpoint-up(medium) {
      flex-direction: row;
    }

    @include u.breakpoint-up(large) {
      flex-direction: column;
    }

    @include u.breakpoint-up(xlarge) {
      flex-direction: row;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;

    @include u.breakpoint-up(medium) {
      flex-direction: row;
    }

    @include u.breakpoint-up(large) {
      flex-direction: column;
    }

    @include u.breakpoint-up(xlarge) {
      flex-direction: row;
      height: fit-content;
    }
  }

  &__movie1 {
    flex: 1;
    padding-bottom: 1rem;
    height: fit-content;
  }

  &__movie2 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__movie3 {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__movie4 {
    padding: 1rem;
    flex: 1;
    margin-bottom: 0;
  }

  &__movie5 {
    padding: 1rem;
    flex: 1;
    margin-bottom: 0;
  }

  // Image styles
  &__image {
    max-width: 100%;
    padding: 2px;
  }

  &__content {
    flex-direction: column;
    flex: 1;

    h2 {
      justify-content: center;
    }

    p {
      justify-content: center;
    }

    input {
      margin-bottom: 1rem;
    }
  }
}
