@use "../util" as u;

.background {
  background-color: u.$lightblue;

  // Styles for the square changing according to the viewport
  &__square {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    background-image: url(https://via.placeholder.com/200);
    background-repeat: no-repeat;
    background-size: cover;

    // Styles for tablet
    @include u.breakpoint-up(medium) {
      height: 300px;
      width: 300px;
      background-image: url(https://via.placeholder.com/300);
    }

    // Styles for desktop
    @include u.breakpoint-up(xlarge) {
      height: 400px;
      width: 400px;
      background-image: url(https://via.placeholder.com/400);
    }
  }
}
