// Colors stored inside a variable to make the code more readable and maintainable
$lightblue: hsl(202, 87%, 76%);
$greywhite: hsl(188, 35%, 92%);
$blue: hsl(203, 38%, 49%);
$navyblue: hsl(212, 35%, 40%);
$red: hsl(1, 79%, 66%);
$orange: hsl(21, 100%, 72%);
$hover: hsl(0, 0%, 27%);
