@use "../util/" as u; // Importing the utility styles and mixins from util folder and assigning it an alias of u

/*Header Styles*/

/*Default mobile styles*/
/*Added breakpoints from breakpoints.scss file*/

.header {
  nav {
    background-color: u.$white; // Took the colors from the colors.scss file in util folder
    padding-top: 0.75rem;
  }

  // Giving the logo its height and width
  &__logo {
    img {
      height: 2.9375rem;
      width: 2.9375rem;
    }
  }
}
